# database
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=5432
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>

# django
SECRET_KEY=<secret_key>
DJANGO_SETTINGS_MODULE=Kitchen_Service.settings.production
RENDER_EXTERNAL_HOSTNAME=<render_domain>