{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Kitchen Service{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
  <h1>Restaurant Kitchen Service</h1>

  <nav>
    <a href="{% url 'dish-list' %}">Dishes</a>

    {% if user.is_authenticated %}
      <span> | {{ user.username }}</span>
      <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </nav>

  <hr>
</header>

<main>
  {% block content %}{% endblock %}
</main>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
